---
http_interactions:
- request:
    method: post
    uri: http://integrated.adstation.com/1.3
    headers:
      Accepts:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?><result><email><test>true</test><requestid>3896146278cb759ba836b1c1e8a5b7e1</requestid><scheduledate>20130309123400</scheduledate><mailingid>879f6b476c8e46aa9129cbbacdea1839</mailingid><mailingtypeid>2</mailingtypeid><scheduleeventtypeid>1</scheduleeventtypeid><recipient>004c58927df600d73d58c817bafc2155</recipient><list>9250</list><cid>25451</cid><ccid>25451</ccid><campaignrank>4</campaignrank><categoryid>1178</categoryid><testid>826</testid><creative><dname>Email
        to Fax</dname><from>TurnEmailIntoFax</from><friendlyfrom>Email to Fax</friendlyfrom><subjectid>16153</subjectid><subject><![CDATA[Faxes
        delivered to your email.]]></subject><body><![CDATA[ \n<br /><br /><a href=\"http://fga.example.com/2069250/vuxtxunqpqmt6v~5u_unqlt3umtfullpxq_t_unsy0rlly/soyq_tx_tmswv0xnmqqtdyumorn_tqplpltceurt7ul_m/qostdfw3yu_7_e_vityxumptxveumms_tte3u_tnrt0x0/ut0xut7eunty1untf1umot2utezdeumteutyutw2utv3u/tvaut0u_efc8_z7v36_38e9_0vity8u29e7v36_ox97td/y97utd3aut09ultcdaumtd3umrmqotw3utwv8utweut80utecegu\">Email
        Fax</a><br /><br /><a href=\"http://fga.example.com/2069250/vuxtxunqpqmt6uv~5_unqlt3untfullpxq_t_unsy0rllysoyq_tx_tmswv0xnmqqtdyu/morn_tqplpltceurt7ul_[...]
