---
http_interactions:
- request:
    method: post
    uri: http://integrated.adstation.com/1.3
    headers:
      Accepts:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?><result><email><test>true</test><requestid>bd485f2eed13f1d9110cc1bfb18c15d2</requestid><scheduledate>20130309154347</scheduledate><mailingid>8f69f262f5ffe843f0e0982168e20617</mailingid><mailingtypeid>2</mailingtypeid><scheduleeventtypeid>1</scheduleeventtypeid><recipient>004c58927df600d73d58c817bafc2155</recipient><list>9250</list><cid>1708</cid><ccid>1708</ccid><campaignrank>5</campaignrank><categoryid>1349</categoryid><testid>826</testid><creative><dname>Cruises</dname><from>Cruises</from><friendlyfrom>Cruises</friendlyfrom><subjectid>167825</subjectid><subject><![CDATA[Early-bird
        cruise specials]]></subject><body><![CDATA[ \n<br /><br /><a href=\"http://fga.example.com/2069250/vuxtxumsl_tt6u_unqlt3umtfuv~5llpxq_t_unsy0rllysoyq_tx_tmswv0xnmqqtd/yumorn_trqpnstceupt7ul_m_usmtdfw3yu_7_e_vityxumptxveumop_ute3u_tnr/t0x0ut0xut7eunty1untf1umot2utezdeumteutyutw2utv3utvaut0u_xcf3dzdty/8u29e7v36_ox97tdy97utd3aut09ultcdaumtd3umrs_tnqtw3utwv8utweut80utecegu\">Cruise</a><br
        /><br /><a href=\"http://fga.example.com/2069250/vuxtxumv~5sl_tt6u_unqlt3untfullpxq_t_unsy0rllysoyq_tx/_tmswv0xnmqqtdyumorn_trqpnstceupt7ul_m_usmtdfw3yu_7[...]
