---
http_interactions:
- request:
    method: get
    uri: http://api.publisher.adknowledge.com/performance.json?dimensions=subid,report_date&limit=20&measures=revenue,paid_clicks&product_guid=*&product_id=2&start_date=1&token=b6d8610998e883b3a460fd2fcf71ead4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Authorization Required
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"status":0,"data":[],"messages":[{"type":0,"message":"The email\/password
        or token provided does not match a valid account. Please try again."}],"errors":[],"code":401,"time":0}'
  recorded_at: Sun, 10 Mar 2013 19:04:43 GMT
recorded_with: VCR 2.4.0
